nav {
  display: flex;
  justify-content: space-around;
  width: 95vw;
}
h1 {
  text-align: center;
}
.newsfeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  margin: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.post img {
  max-width: 50vw;
  max-height: 50vh;
}

.post-info {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: left;
}

.post-fino h1 {
  text-align: left;
}

.post-name {
  margin-top: 5vh;
  margin-left: 1.5vw;
}

.post-username,
.post-date {
  margin-top: 0.2vh;
  margin-bottom: 0.2vh;
}

.post-username,
.comment-username {
  cursor: pointer;
}
.pfp-name {
  display: flex;
}

.pfp-name img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 2vh;
}
.comment-pfp img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.comment {
  display: flex;
  margin-bottom: 1.5vh;
  border: 1px solid black;
  justify-content: space-around;
  padding: 5px;
}

.comment-username {
  font-weight: bold;
  margin-top: 1.3vh;
  margin-left: 0.5vw;
}
.comment-text {
  width: 35vw;
  margin-top: 1.3vh;
  margin-left: 1vw;
}

.comment-likes {
  margin-top: 2vh;
}

.likes {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.comment-pic-likes {
}
